:root {
  --black: #000;
  --grey-900: #121212;
  --grey-700: #242424;
  --grey-600: #878787;
  --grey-400: #b3b3b3;
  --gray-100: #f4f4f4;
  --white: #fff;

  --fonte-primary: 'DM Sans', sans-serif;
}

body {
  background-color: var(--black);
  font-family: var(--fonte-primary);
}